<div class="div-block-27">
      <div class="div-block-26">
        <div class="text-block-4">{{ texts.27c1ef }}<span class="text-span-3">{{ texts.-15b52589 }}<br>{{ texts.318f94a9 }}</span>{{ texts.-5875b4e9 }}<span class="text-span-2">{{ texts.2e }}</span></div>
        <div class="wrapper-list-links">
          <a href="{{ links.23 }}" class="footer-links">{{ texts.2c9a4253 }}</a>
          <a href="{{ links.23 }}" class="footer-links">{{ texts.4b0ff51e }}</a>
          <a href="{{ links.20a012c3 }}" class="footer-links">{{ texts.-6e151040 }}</a>
        </div>
      </div>
    </div>