<div data-collapse="none" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current">
      <div class="text-block-4">{{ texts.27c1ef }}<span class="text-span-3">{{ texts.-15b52589 }}<br>{{ texts.318f94a9 }}</span>{{ texts.-5875b4e9 }}<span class="text-span-2">{{ texts.2e }}</span></div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="{{ links.2f }}" aria-current="page" class="link-nav w-nav-link w--current">{{ texts.2268ff }}</a>
      <a href="{{ links.63cd8f2d }}" class="link-nav w-nav-link">{{ texts.-4b5115e4 }}</a>
      <a href="{{ links.55b8e8be }}" class="link-nav w-nav-link">{{ texts.3c2336d }}</a>
      <a href="{{ links.4b0e6111 }}" class="link-nav w-nav-link">{{ texts.-64104400 }}</a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>